<header id="header">
    <h1>Alpha-Blog</h1>
</header>
<div id="content">
    <h1>This is mah new about page</h1>
    
    <%= link_to 'Home', root_path %>
</div>
<footer id="footer">
    <p>Made for testing purposes</p>
</footer>