<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <header id="header">
        <h1>Alpha-Blog</h1>
    </header>
    <div id="content">
        <h1>Welcome</h1>
    
        <%= link_to 'About', about_path %>
    </div>
    <footer id="footer">
        <p>Made for testing purposes</p>
    </footer>
</body>
</html>