<div class="container">
    <footer class="footer">
        <small>
            Made thanks to course on Udemy
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>